/* Fondo de la pantalla */
.modal-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6f9;
    padding: 20px;
}

/* Tarjeta del formulario */
.modal-card{
    background: white;
    padding: 30px 35px;
    border-radius: 12px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.form-title{
    color: black;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
}

/* Grid del formulario */
.form-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

/* Hace que algunos elementos ocupen toda la fila */
.form-grid .rs-picker,
.form-grid input{
    width: 100%;
}

/* Inputs */
input{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    transition: border 0.2s ease;
}

input:focus{
    outline: none;
    border-color: #3498ff;
}

/* Botón */
.submit-btn{
    grid-column: span 2;
    margin-top: 10px;
    padding: 12px;
    border-radius: 8px;
}

.submit-btn.rs-btn:active{
    background: #0a9e6d;
    border-color: #0a9e6d;
}